body.theme-classic {
  --bg-color: #171717;
  --accent-color: #fff;
  --text-color: #eee;
  --dim-text-color: #777;

  --bg-gradient: none;
  --box-glow: none;
  --border-color: #333;
  --text-glow: none;
  --overlay-glow: none;
  --overlay-bg: rgba(0, 0, 0, 0.4);

  --button-bg: #111;
  --button-color: #eee;
  --button-text-shadow: none;
  --button-border-radius: 0;
  --button-border: 1px solid #444;
  --button-hover-opacity: 1;
  --button-hover-scale: 1;

  --editor-bg: #0a0a0a;
  --key-bg: #111;
  --key-color: #ccc;
  --add-key-bg: #1a1a1a;
  --remove-btn-color: #666;
  --button-text-shadow: none;

  --cell-glow: none;

  --font-family: Montserrat;
  --overlay-font-family: Montserrat;
  --overlay-font-size: 13px;
  --font-weight: 700;

  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
}
